body {
  padding: 0 10px;
}

#some-element {
  border: 1px solid #ccc;
  display: none;
  font-size: 10px;
  margin-top: 10px;
  padding: 5px;
  text-transform: uppercase;
  width: 50%;
  height: auto;
}

#some-div:hover #some-element {
  position: absolute;
  display: block;
  left: 10%;
  top:10%;
  width:30%;
  background-color: white;
}
