.bottom-links {
	border-color: green;
	border-width: 1px;
	position: fixed;
	bottom: 0px;
	display: inline-block;
}

.bottom-links ul {
	border-color: blue;
	border-width: 2px;
	position: fixed;
	bottom: 0px;
	right: 0%;
	width: 20%;
}

.bottom-links li {
	border-color: blue;
	border-width: 2px;
	border-style: solid;
	display: block;
	margin: 3%;
}

.right-hand-bar {
	border-color: green;
	border-width: 1px;
	border-style: solid;
	position: relative;
	display: block;
	float: right;
	width: 30%;
	left: 0%;
}

.blog-header {
	border-color: green;
	border-width: 1px;
	border-style: solid;
	width: 70%;
	display: inline-block;
	text-align: center;
	margin-bottom: 0px;
}

.blog-header li {
	border-color: green;
	border-width: 1px;
	border-style: solid;
	width: 15%;
	display: inline-block;
}

.blog-text {
	border-color: green;
	border-width: 1px;
	border-style: solid;
	position: relative;
	width: 65%;
	float: left;
	margin: 3%
}