* {
	margin: 0;
	font-family: 'Alegreya', serif;
}

h1 {
	width: 50%;
	margin: auto;
}

h2 {
	font-size: normal;
}

h3 {
}

section {
	position: relative;
	margin-left: 0.5%;
	padding-left: 2px;
	width: 13%;
	display: inline-block;
	margin-top: 0.5vh;
	background-color: blue;
	padding-bottom: 0.5vh;
}

iframe {
	display: block;
	width: 97%;
	height: 79vh;
	padding: 1%;
	background-color: white;
}

select {
	width: 15%;
	position: absolute;
	display: inline-block;
	top: 2px;
	right: 2px;
}
