h1 {
	border-color: red;
	border-width: 1px;
	font-family: Verdana;
	font-size: 4em;
	font-weight: bold;
	text-align: center;
}

nav {
	border-color: red;
	border-width: 1px;
	display: block;
	width: 20%;
	float: left;
	text-align: left;
}

nav>div {
	border-color: red;
	border-width: 1px;
	display: block;
	float left;
	text-align: left;
	;

}

.photos {
	border-color: red;
	border-width: 1px;
	top: 20%;
	position: relative;
	display: block;
	float: left;
}

.links {
	border-color: red;
	border-width: 1px;
	display: block;
	float: right;
}

a:hover {
	border-color: red;
	border-width: 1px;
	color: blue;
	font-weight: bold;
}

footer {
	border-color: red;
	border-width: 1px;
	position: fixed;
	bottom: 0%;
	width: 50%;
	margin-left: 25%;
	max-height: 20%;
	padding-bottom: 0px;
}

.side-links {
	border-color: red;
	border-width: 1px;
	position: fixed;
	right: 0%;
	margin: 3%;
	top: 40%;
}

article {
	border-color: red;
	border-width: 1px;
	margin: 3%;
	width: 60%;
	left: 5%;
}